<div class="jumbotron jumbotron-fluid mt-ncs">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-4">HCMUTE Integrated Library</h1>
        <p class="lead">Repository is powered by DSpace</p>
      </div>
    </div>
    <ul>
      <li>Welcome to the document repository of the Ho Chi Minh City University of Technology and Educaion Integrated Library, powered by DSpace</li>
      <li>Manage, upload and search a variety of content such as documents, audio, video, datasets, and other digital materials with ease.</li>
      <li>If you have any questions, please contact us at hcmutelibrary@gmail.com </li>
    </ul>
    <!--<ul>
      <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core metadata
      </li>
      <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and Google Scholar optimizations
      </li>
      <li>issue permanent urls and trustworthy identifiers, including optional integrations with handle.net and DataCite DOI</li>
    </ul>
    <p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning"
        target="_blank">leading institutions using DSpace</a>.
    </p>-->
  </div>
</div>
